<div class="ring home"><h1>Flatiron Punch-Out</h1>
<p>Game Rules:</p>
<p> You and Computer start with 100 health points.</p>
<p> Use right hook and left hook to attack</p>
<p>Use left dodge and right dodge to parry.</p>
<p>Successful attacks do 10 damage.</p>
<p>Successful dodges increases your attack power by 5</p>
<p>3 successful hits gives you a special move that gives 20 damage</p>
<p>Defeat all your opponents and then come face to face with the legendary</p>
<span>Red Darkness</span>

<%= form_for @user do |f| %>
<%= f.label :name%>
<%= f.text_field :name %>
<%= f.submit %>
<% end %>
</div> <br>