<div class="ring">
   <% if @game.round == 2%>
    <img src="https://i.ibb.co/yPkxSBz/Asset-5-4x.png">
    <% elsif @game.round == 3 %>
    <img src="https://i.ibb.co/S0NkP27/round-3-4x.png">
    <% end %>
</div>
<%= button_to "Continue", user_game_next_round_path(@user, @game)%>
