<div class="ring"><% if @computer.name == "Yoan" %>
<% @user.level = 2 %>
<% @user.save %>
<img src="https://i.ibb.co/7gGnKtw/KO-YOAN-4x.png">
<% elsif @computer.name == "Sebastian" %>
<% @user.level = 3 %>
<% @user.save %>
<img src="https://i.ibb.co/FYxvBBK/SEB-KO-4x.png">
<% elsif @computer.name = "Red Darkness"  %>
<% @user.level = 4 %>
<% @user.save %>
<img src="https://i.ibb.co/K9nrZPr/you-win-page-4x.png">
<%= audio_tag "Win.mp3", id:"sound", class: "audio-to-play", autoplay: true %>
    

<% end %> 


<% if @user.level <= 3 %>
<%= button_to "My Page", @user, method: :get %>
<%= button_to "Next Level", user_computer_lvl_path(@user), method: :get%>
<% else %>
<%= button_to "My Page", @user, method: :get %>
<% end %> 
</div>

