<h1>You Win!</h1>
<% if @user.level == 2 %>
<img src="https://i.ibb.co/7gGnKtw/KO-YOAN-4x.png">
<% elsif @user.level == 3 %>
<img src="https://i.ibb.co/FYxvBBK/SEB-KO-4x.png">
<% else %>
<img src="https://i.ibb.co/K9nrZPr/you-win-page-4x.png">

<% end %> 

<%= button_to "My Page", @user, method: :get %>
<%= button_to "Next Level", user_games_path(@user), method: :post %>
