/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 img {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 100%;
 }
 body {
    background-image: url(https://i.ibb.co/LSVhXqZ/flpunchout-background-4x.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    letter-spacing: 2px;
    word-spacing: 4px;
 }
 .title {
    background: rgba(0,0,0,0);
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
 .ring {
    background-color: black;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: large;
    font-family: ArcadeClassic;
    font-weight: bold;
    width: 60%;
}




 /* .button_to {
  background: url(../../public/DODGE\RIGHT\BUTTON@4x.png);
  text-indent: 30px;
   display: block;
   cursor: pointer;
 } */

 .r_hook , .l_hook, .d_left, .d_right{
     position: relative;
     height: 70px;
     width: 70px;
     box-sizing: border-box;
 }

 .r_hook {
     float: left;
     position: relative;
     left: 38%;
 }

 .l_hook {
     float: left;
     position: relative;
     left: 32%;
 }


 .d_left {
    float: left;
    position: relative;
    left: 43%;

 }
 
 .d_right {
    float: left;
    position: relative;
    left: 45%;
    
}

.dodges {
    clear: both;
    margin: 0 auto;
}

.punches {
    clear: both;
    margin: 0 auto;
    width: 40%;

}


.r_hook{
    position: relative;
    
}

 .r_hook img, .l_hook img{ 
     position: absolute;
     top: 0;
     height: 70px;
     width: 70px;
 }

 .d_left img, .d_right img{
    position: absolute;
    top: 0;
    height: 50px;
    width: 70px;
 }

 .r_hook form input[type=submit], .l_hook form input[type=submit] , .d_left form input[type=submit], .d_right form input[type=submit] {
    -webkit-appearance: button;
    background-color: rgba(0,0,0,0);
    position: absolute;
    top: 0;
    border: none;
    content: "";
    height: 70px;
    width: 70px;
 } 

 .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

   .round {
      position: relative;
      float: right;
      right: 10%;
      font-family: ArcadeClassic;
      font-size: large;
      font-weight: bolder;

  }

  .points {
    position: relative;
    float: left;
    left: 10%;
    font-family: ArcadeClassic;
    font-size: large;
    font-weight: bolder;
    
  }

.user_hp {
    position: relative;
    float: left;
    color: black;
    font-family: ArcadeClassic;
    font-size: x-large;
    font-weight: bolder;

    }

.comp_hp {
    position: relative;
    float: right;
    color: black;
    
    text-align: right;
    font-family: ArcadeClassic;
    font-size: x-large;
    font-weight: bolder;
}

.uppercut {
    height: 25px;
    width: 80px;
    position: relative;
    margin-left: 46.8%;
    margin-right: auto;
   bottom: -5%;
}

 .game_messages {
   color: rgb(8, 23, 243);
   font-family: ArcadeClassic;
   font-weight: bold;
   font-size: large;

}

.user {
    position: relative;
    margin: auto;
    height: 600px;
    width: 850px;

}

.fight {
    position: relative;
    margin: auto;
    height: 600px;
    width: 850px;
    top: 50%
}

.fight{
    height: 100px;
    width: 100px;

}

.home {
    position: relative;
    margin: auto;
    height: 600px;
    width: 850px;
    top: 50%;
}

  span {
      font-family: ArcadeClassic;
      font-weight: bold;
      color: firebrick
  }

  .lose {
      background-image: url(https://i.ibb.co/4YywGMW/gameoverscreen-4x.png);
      background-size: cover;
      height: 600px;
      width: 850px;
      margin: auto;
      background-position: center;
      background-repeat: no-repeat
  }

  .lose form input[type=submit]{
     position: absolute;
     left: 46%;
     top: 75%;
     font-size: x-large;
    height: 100px;
    width: 100px;
  }

  .user form input[type=submit] {
    font-size: x-large;
    height: 100px;
    width: 100px;
}